<form action="{{ path('login') }}" method="post" class="login">

  <input type="text" name="_username" value="{{ last_username }}" placeholder="Username here ...">
  <input type="password" name="_password">

  <button type="submit" class="btn btn-primary mt-3">Login</button>

</form>