.navbar {
  background-color: #e54d42;

  .container {
    padding: 30px 300px 30px 300px;

    .navbar-brand {
      color: white;
      display: inline-block;
      font-size: 20px;
      width: 20%;
      text-decoration: none;
    }

    form {
      display: inline-block;
      width: 50%;
      text-align: center;
    }

    .navbar-nav {
      display: inline-block;
      float: right;
      margin: 0;

      li {
        display: inline-block;
        padding-right: 10px;

        &.dropdown {
          position: relative;
          display: inline-block;

          a.dropbtn {
            font-size: 16px;
            border: none;
            cursor: pointer;
          }

          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;

            &.show {
              display: block;
            }

            a {
              color: white;
              padding: 12px 16px;
              text-decoration: none;
              display: block;

              &:hover {
                background-color: #ddd;
              }
            }
          }
        }

        a {
          text-decoration: none;
          color: #ffffff;
        }


      }
    }
  }
}
