<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() }}/social-media/public/css/style.css">
    {% block stylesheets %}{% endblock %}
</head>

<body>
{{ include('inc/navbar.html.twig') }}
<div class="wrapper">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
<script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
</script>
<script src="/social-media/public/js/test.js"></script>
</body>
</html>
